{% extends "_base.htm" %}

{% block title %}
	Welcome
{% endblock %}

{% block pageblock %}

	<div id="up">
		<h1>This is a Plagiarism Detection system on cloud!<br/><br/></h1>
	</div>

	<div id="down">
		<h3>Fill details below to create an index of source files:<br/></h3>
		<form id="parameters" method="post" action="/workinprogress" enctype="multipart/form-data">
			<h4>UserName: <input type="text" name="username" /><br/></h4>
			<h4>Instances needed: <input type="text" name="instances" /><br/></h4>
			<h3>For each value in index:<br/></h3>
			<h4>Window size: <input type="text" name="windowsize" /><br/></h4>
			<h4>Overlap size: <input type="text" name="overlapsize" /><br/></h4></br></br>
			<h4>Upload suspicious document: <input type="file" name="suspiciousfile" /><br/></h4>
			<h4><input type="submit" name="index" value="Create Source Index" />
			<input type="submit" name='cancel' value="Cancel" onclick="window.location='/plagiarism'; return false;" /><br/></h4>
		</form>
		
		{% if note %}
		<h3 style="color: #11FFFF">
			{{ note }}
		</h3>
		{% endif %}
	
	</div>


{% endblock %}